.Container {
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bg-body-tertiary {
    position: sticky;
    top:  0px;
    background: rgba(0, 79, 224, 0.548);
    opacity: 0.9;
    backdrop-filter: blur(30px);
    margin-top: 0;
    height: 50px;
    justify-content: center;
    font-size:x-large;
    margin-bottom: 20px;
    border-radius: 20px;
    z-index: 1;
}

.left-navbar{
    align-self:center;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    width: fit-content;
    margin-left: 50px;
    height: 50px;
}

.left-navbar:hover {
    border-color: #e8ff64;
    color: black;
    filter:drop-shadow(0 0mm 4mm rgb(252, 252, 252)) brightness(1.1);
}

#basic-navbar-nav {
    display: flex;
    align-self: flex-end;
    flex-wrap: nowrap;
    width: fit-content;
    justify-content: space-evenly;
}

.right-navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: fit-content;
    justify-content: space-evenly;
    text-align: right;
    margin-right: 50px;
}

.nav-link {
    margin: 5px 10px 5px 10px;
}

#logoImg {
    height: 50px;
    aspect-ratio: auto;
    border-radius: 15px;
}