#root {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;

  /* background-color:dimgray; */
}

body {
  background-color:  black;
}

.left {
  height: fit-content;
}

.right{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  
}

.topelements {
  max-width: 1500px;
  /* width: 150em; */
}

.banner {
  background-color: dimgray;
  background-image: url('./assets/bg2.jpg');
  border-radius: 20px 20px;
  height: fit-content;
  /* the banner should fit the height change for responsive change */
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  /* width: 80%; */
  margin: 10px auto 0;
}

.self-intro {
  display: flex;
  flex-wrap: wrap;
  /* align-content:center; */
  max-height: fit-content;
  width: fit-content;
  color: aliceblue;
  text-align: left;
}

.name {
  max-height: fit-content; 
  justify-content: left;
}


.logo {
  animation: logoAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  align-self: center;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #b7ff64aa);
} */

.tech_stack {
  height: 10em;
  width: 100%;
  background-color: dimgrey;
  margin: 10px auto;
}
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes nameAnimationLess  {
  from {
    font-size: 1em; 
    color: rgb(rgb(0, 223, 193), green, blue);
    transition: all 0.5s ease-in-out; 
  }
  to {
    font-size: 2em; 
    transform: scale(1.2);
    filter:drop-shadow(0 0mm 4mm rgb(3, 50, 94)) brightness(20);
    align-self: center;
    padding: 5%;
  }

}

@keyframes nameAnimationMore  {
  from {
    font-size: 2em; 
    color: rgb(rgb(0, 223, 193), green, blue);
    transition: all 0.5s ease-in-out; 
  }
  to {
    font-size: 3.5em; 
    transform: scale(1.2);
    filter:drop-shadow(0 0mm 4mm rgb(3, 50, 94)) brightness(10);
  }

}

@keyframes logoAnimation  {
  from {
    /* will-change: filter;
    transition: filter 300ms; */
  }
  to {
    /* height: 5em; */
    /* will-change: filter;
    transition: filter 300ms; */
    filter: drop-shadow(0 0 2em #b7ff64aa);
  }

}

@media only screen and (max-width: 500px) {
  .name {
    /* font-size: 10px; */
    animation: nameAnimationLess 2s forwards;
    margin: 10px 20px 0 0;
  }
  .logo {
    height: 5em;
    align-self: center;
  }
  .top {
    justify-content: center;
  }

  .self-intro{
    align-self: center;
  }

  .banner {
    align-content: left;
  }

  .left .right {
    align-self: center;
  }
}



@media only screen and (max-width: 800px) {
  .name {
    /* font-size: 10px; */
    animation: nameAnimationLess 2s forwards;
    margin: 10px 20px 0 0;
  }
  .logo {
    height: 10em;
  }
  .self-intro {
    align-self: center;
    text-align: center;
  }

  .top {
    justify-content: center;
  }
}

@media only screen and (min-width: 800px) {
  .name {
    /* font-size: 10px; */
    animation: nameAnimationMore 3s forwards;
    margin: auto auto 0 auto;
  }
}

/* https://stackoverflow.com/questions/20407906/defining-keyframe-animations-inside-media-queries */

/* Tech Stack */
.ag-format-container {
  width: 60%;
  align-self: center;
  margin: 0 auto;
}


body {
  background-color: #000;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  width: 150px;
  height: 150px;
  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;

  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;

  will-change: filter;
  
  transition: filter 2s ease-out;
}

.ag-courses_item:hover {
  filter: drop-shadow(0 0 2em rgb(164, 231, 236));
}

.techIcon { 
  max-height: 100px;
  max-width: 100px;
  aspect-ratio: auto;
  align-self: center;
  /* max-height:100%; max-width:100%; */
}
/* .ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
} */
/* .ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
} */
.ag-courses-item_title {
  min-height: 87px;
  margin: 0;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;

  display:  flex;
  flex-direction: column;
  justify-content: center;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 150px;
  width: 150px;
  background-color: #347ff9;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}