#root {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  /* background-color:dimgray; */
}

.topelements {
  max-width: 1500px;
  /* width: 150em; */
}

.banner {
  background-color: dimgray;
  background-image: url('./assets/bg2.jpg');
  border-radius: 20px 20px;
  height: 20em;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: 80%; */
  margin: 10px auto 0;
}

.self-intro {
  display: flex;
  justify-content: center;
  /* align-content:center; */
  max-height: fit-content;
}

.name {
  animation: nameAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  max-height: fit-content;
  
}

/* .name:hover {
  font-size: 5em; 
  transform: scale(1.2);
  filter:drop-shadow(0 0mm 4mm rgb(3, 50, 94)) brightness(10);
} */

.logo {
  animation: logoAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #b7ff64aa);
} */

.tech_stack {
  height: 10em;
  width: 100%;
  background-color: dimgrey;
  margin: 10px auto;
}
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes nameAnimation  {
  from {
    font-size: 2em; 
    color: rgb(rgb(0, 223, 193), green, blue);
    transition: all 0.5s ease-in-out; 
  }
  to {
    font-size: 3.5em; 
    transform: scale(1.2);
    filter:drop-shadow(0 0mm 4mm rgb(3, 50, 94)) brightness(10);
  }

}

@keyframes logoAnimation  {
  from {
    will-change: filter;
    transition: filter 300ms;
  }
  to {
    height: 5em;
    will-change: filter;
    transition: filter 300ms;
    filter: drop-shadow(0 0 2em #b7ff64aa);
  }

}

@media only screen and (max-width: 600px) {
  .name {
    font-size: 10px;
  }
  .logo {
    height: 10px;
  }
}

/* https://stackoverflow.com/questions/20407906/defining-keyframe-animations-inside-media-queries */